<html>

<head>
    <link rel="stylesheet" href="visual.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <title>SoviatAdivinando</title>
</head>

<body>
    <div id="app"  >
        <div v-if="enJuego && !gameOver">
            <div class="row"  >
                <div class="col">
                    <button type="button" @click="stopJ" class="btn btn-outline-warning btn-lg" >Terminar</button>
                </div>
                
                <div class="col">
                    
                    <ul>
                        <li v-for="vida in vidas" style="display:inline;font-size:50" >{{ vida }}</li>
                    </ul>
                </div>
                
            </div>
            <div class="row" id="tablero">
                <ol>
                    <li v-for="(l , index) in letras" style="display:inline;font-family:Lobster">
                        {{ letras[index] }}
                    </li>
                    
                </ol>
            </div>
            <div  class="row" >
                <div class="col">`
                    <input id="ingresarLetra" v-model="letraJugada" type="text"  @keyup.enter="ingresarLetra" size="3" autocomplete="off" >
                </div>
                <div class="col">
                    <button type="button" @click="ingresarLetra" class="btn btn-outline-info btn-lg">Enviar</button>
                </div>
            </div>
        </div>
        
        <div class="jumbotron" v-if="!enJuego && !gameOver">
            <h1 class="display-4">Bienvenido a SoviatAhorcado</h1>
            <p class="lead">El nuevo juego de ahorcado con los paises de la U.S.S.R! </p>
            <hr class="my-3">
            <input type="button" @click="iniciarJ" value="Empezar" class="btn btn-outline-info btn-lg">
        </div>
        <div class="card" style="width: 50%;" v-if="gameOver">
            <img v-bind:src="img" class="card-img-top" alt="">
            <div class="card-body">
              <h2 class="card-title">{{ mensaje }}</h2>
              <h3 class="card-subtitle mb-2 text-muted" v-if="vidas.length > 0">Con {{ vidas.length }} ❤ restantes</h3>
              <p class="card-text">{{ infoP }}</p>
              <button @click="stopJ" class="btn btn-outline-success btn-lg">Listo</button>
            </div>
          </div>


    </div>





    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./code.js"></script>
</body>

</html>