<html>

<head>
    <link rel="stylesheet" href="visual.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>SoviatAdivinando</title>
</head>

<body>
    <div id="app" >
        <div class="row"></div>
        <div class="jumbotron" v-if="!enJuego">
            <h1 class="display-4">Bienvenido a SoviatAhorcado</h1>
            <p class="lead">El nuevo juego de ahorcado con los paises de la U.S.S.R! </p>
            <hr class="my-3">
            <input type="button" @click="iniciarJ" value="Empezar" class="btn btn-outline-info btn-lg">
        </div>
        <div class="add-item-form" v-if="enJuego" >
            <ol>
                <li v-for="(l , index) in letras" style="display:inline">
                    {{letras[index] }}
                </li>
        
            </ol>
            <input v-model="letraJugada" type="text" placeholder="Ingresa tu letra" @keyup.enter="ingresarLetra">
            <input type="button" value="Enviar" @click="ingresarLetra" class="btn btn-outline-info" >
        </div>


    </div>





    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./code.js"></script>
</body>

</html>