#app{
    position: fixed;
    left: 10%;
    top: 10%;
    min-width: 80%;
}


#tablero{
    padding: 10%;
    font-size: 100;
    
}
#ingresarLetra{
    border-radius: 6px;   
    font-size: 29;
}
.h{  
    font-size: 29 !important;     
}
.alertL{ 
color: black;}
.alB{
    color: red;
}
