#app{
    position: fixed;
    left: 10%;
    top: 10%;
    min-width: 80%;
}
body{
   /* background-color: #c32938 !important; */
}
#tablero{
    padding: 10%;
    font-size: 100;
    
}
#ingresarLetra{
    border-radius: 6px;   
    font-size: 29;
}